{% extends "web/base.html" %} {% load static %} {% block main_title %} About {% endblock main_title %} {% block content %}
<div class="centered-div">
    <p class="title is-1">About Old Saints</p>
    <p>St. John's School is a boys' second-cycle school located in Sekondi in the Western Region. It is one of the best senior high schools
        in Ghana and the best in the region. It was founded on 29th January 1952 by Archbishop of the . At the time of the
        founding, Porter was then and later . At its founding, the school had three teachers and forty-seven students.</p>
        <br>

        <img src="{% static '/web/images/oldsaints-gate.jpg' %}" alt="">

        <br><br>
    <p class="title is-3">Background</p>
    <br>
    <p>The origin of St. John’s School can be traced to an English Churchman who came to the Gold Coast in 1933 from Nigeria
        where he had been the General Manager of Catholic Schools. He discovered to his dismay in the Gold Coast that the
        Catholic Church which had been a fountain of education for centuries elsewhere had not catered for Second Cycle Institutions
        in the country. He therefore, worked tirelessly to found St. Augustine’s College in Cape Coast in 1936. This man
        of vision and courage was the late Archbishop W. T. Porter of Cape Coast.</p>
        <br>

    <p>The Second World War fizzled out all arrangements for overseas financial aid and staffing for other schools and colleges.
        However, the Government’s Accelerated Education policy of 1951 to cater for the educational needs of Middle School
        Form 4 leavers after their Primary School Education spurred on the Church to establish a number of Catholic Secondary
        Schools in the country in 1952. Bishop Herman in Kpando, Volta Region, Opoku Ware in Kumasi, Ashanti and St. John’s
        in Sekondi-Takoradi, Western Region, were all established by the Church to meet the needs of the numerous Middle
        School leavers whose future looked quite bleak.</p>
        <br>

    <p>The Government took on the church’s challenge and also established the following schools: Keta Secondary School in the
        Volta Region, Dormaa Secondary School in the then Ashanti Region and our sister school, Fijai Secondary School, Sekondi-Takoradi
        in the Western Region.</p>
        <br><br>

    <p class="title is-5">Early Period</p>

    <p>St. John’s was founded as a private Secondary School by the Roman Catholic Church on 29 January 1952. It was the first
        Secondary School to be established in the Western Region and was named after Rev. John Beenker of the SMA Society
        who shortly after assuming the post became seriously ill and had to return to Holland where he died. Rev.
        Father Francis Kwamena Buah who was pursuing his postgraduate studies in Cork University Ireland was recalled to
        head the school. Before his arrival, however, Rev. Father Donelley, SMA, temporarily held the fort.</p>

    <p>The school started with three masters, Rev. Father F. K. Buah, Rev. Father Donelley, Mr. John Quansah and 47 students
        at St. Paul’s Catholic Primary/Middle School, Anaafo Sekondi, in two temporary classrooms.</p>
</div>

{% endblock content %}