{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block main_title %} {% endblock %} | Old Saints</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" href="{% static 'web/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/intlTelInput.min.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="{% static 'web/images/oldsaints-01.png' %}" alt="Old Saints" width="20" height="20"> &nbsp;{% if home %}
                    Old Saints
                    {% else %}
                    Home
                    {% endif %}
                </a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="{% url 'web:find_mate' %}">
                        Find Mates
                    </a>
                    <a class="navbar-item" href="{% url 'web:scholarships' %}">
                        Scholarships
                    </a>
                    <a class="navbar-item" href="{% url 'web:jobs' %}">
                        Jobs
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Info
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" href="{% url 'web:about' %}">
                                About
                            </a>
                            <a class="navbar-item" href="{% url 'web:global_executives' %}">
                                Global Executives
                            </a>
                            <a class="navbar-item" href="{% url 'web:gallery' %}">
                                Gallery
                            </a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            What's Happening
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" href="{% url 'web:gallery' %}">
                                Gallery
                            </a>
                            <a class="navbar-item" href="{% url 'web:projects' %}">
                                Projects
                            </a>
                            <a class="navbar-item" href="{% url 'web:events' %}">
                                Events
                            </a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Payments
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" href="{% url 'web:projects' %}">
                                Projects
                            </a>
                            <a class="navbar-item" href="{% url 'web:dues' %}">
                                Dues
                            </a>
                        </div>
                    </div>
                    {% if user.is_authenticated %} 
                    {% if user.is_superuser %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            {{user.get_full_name}}
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" target="_blank" href="/admin/web/">
                                Admin Site
                            </a>
                            <a class="navbar-item" href="">
                                Profile
                            </a>
                            <a href="{% url 'web:logout' %}" class="navbar-item">Log out</a>
                        </div>
                    </div>
                    {% else %}
                    <a class="navbar-item" href="">
                        {{user.get_full_name}}
                    </a>
                    {% endif %} {% else %}
                    <a class="navbar-item" href="{% url 'web:login' %}">
                        Log in
                    </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <div class="notification is-warning" style="width: 60%; margin-left: auto; margin-right: auto; margin-top: 10px;">
        <button class="delete"></button>
        Site is still under construction. All features are not fully developed.
    </div>
    <!-- <br> -->

    <div class="content-block">
        {% block content %} {% endblock content %}
    </div>


    <footer>
        <div class="columns">
            <div class="column">
                <h4 class="is-size-5 has-text-weight-semibold  has-text-grey-darker">Old Saints</h4>
                <ul>
                    <li>
                        <a href="{% url 'web:about' %}" class="has-text-grey">About</a>
                    </li>
                    <li>
                        <a href="{% url 'web:gallery' %}" class="has-text-grey">Gallery</a>
                    </li>
                    <li>
                        <a href="{% url 'web:global_executives' %}" class="has-text-grey">Global Executives</a>
                    </li>
                    <li>
                        <a href="" class="has-text-grey">Projects</a>
                    </li>
                </ul>
            </div>

            <div class="column">
                <h4 class="is-size-5 has-text-weight-semibold  has-text-grey-darker">Posts</h4>
                <ul>
                    <li>
                        <a href="{% url 'web:jobs' %}" class="has-text-grey">Jobs</a>
                    </li>
                    <li>
                        <a href="{% url 'web:scholarships' %}" class="has-text-grey">Scholarships</a>
                    </li>
                    <li>
                        <a href="" class="has-text-grey">Gallery</a>
                    </li>
                </ul>
            </div>

            <div class="column">
                <h4 class="is-size-5 has-text-weight-semibold  has-text-grey-darker">Social</h4>
                <ul>
                    <li>
                        <a href="{% url 'web:find_mate' %}" class="has-text-grey">Find Colleagues</a>
                    </li>
                    <li>
                        <a href="" class="has-text-grey">Gallery</a>
                    </li>
                    <li>
                        <a href="" class="has-text-grey">Facebook</a>
                    </li>
                    <li>
                        <a href="" class="has-text-grey">Twitter</a>
                    </li>
                </ul>
            </div>

            <div class="column">
                    {% comment %} <a href="/admin/web/" class="has-text-grey">Admin Panel</a> {% endcomment %}
            </div>
        </div>

        <br>
        <br> &copy; Copyright 2018. Old Saints
    </footer>

    {% block scripts %}
    
    {% endblock scripts %}
</body>

</html>