{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block main_title %} {% endblock %} | Old Saints</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" href="{% static 'web/css/main.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href={% url 'web:home' %}>
                    <strong>OLD SAINTS</strong>
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <a href={% url 'web:jobs' %}>Jobs</a>
                </div>

                <div class="navbar-item">
                    <a href="">Schorlaships</a>
                </div>

                <div class="navbar-item">
                    <a href="">Polls</a>
                </div>

                {% if user.is_authenticated %}
                    <div class="navbar-item">
                        <a href="">{{user.get_full_name}}</a>
                    </div>
                {% else %}
                    <div class="navbar-item">
                        <a href="{% url 'web:login' %}">Log in</a>
                    </div>
                {% endif %}
            </div>
        </nav>
    </header>

    {% block content %} {% endblock content %}

    <footer class="container">

    </footer>
</body>

</html>