{% extends "web/base.html" %} {% block main_title %} Events {% endblock main_title %} {% block content %}

<div class="container">
    <p class="title is-1">Events</p>

    <div class="columns is-multiline is-mobile">
        {% for post in events %}
        <div class="column is-half">
            <div class="box">
                <p class="title is-4">{{post.title}}</p>

                <p>{{post.description|truncatechars:100}}</p>
                <br>
                {% if post.guests %}
                <p><strong>Guests:</strong> {{post.guests}}</p>
                {% endif %}
                <p><strong>Date and Time:</strong>{{post.date}}</p>
                <br>
                <a href="{% url 'web:event_detail' post.id %}" class="button is-primary">Details</a>
                &nbsp;&nbsp;&nbsp;<a href="https://www.google.com/calendar/render?action=TEMPLATE&text={{post.title}}&dates={{post.goog_time}}/{{post.goog_time}}&details=&location={{post.venue}}&sf=true&output=xml" target="_blank">Add to Google Calendar</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}