{% extends "web/base.html" %} {% block main_title %} Jobs {% endblock main_title %} {% block content %}
<div class="container centered-div">
    <div style="margin-top: 10px;">
        <p class="is-1 title" style="margin-bottom: 1em;">
            Job <br>Opportunities
        </p>
        <a href="{% url 'web:create_job_post' %}" class="button is-primary">Post a Job Opportunity</a>
    </div>

    {% for job in jobs %}
    <div class="box" style="margin-top: 10px;">
        <h5 class="is-5 title">{{ job.post_title }}</h5>
        <p style="font-size: 10pt; margin-bottom: 5px;" class="has-text-info">
            <span class="icon">
                <i class="fas fa-building"></i>
            </span>{{ job.company }} &bull; {{ job.location }}</p>
        <p>{{ job.short_description }}</p>
        <br>
        <p class="is-6 title">Deadline: {{job.deadline}}</p>
        <div class="columns">
            <div class="column">
                <a class="button is-small" href="{% url 'web:job_detail' job.id %}">Details &amp; How to Apply</a>
            </div>
            <div class="column">
                <p class="has-text-grey-light" style="font-size: 10pt;">Posted by {{job.posted_by}} {{job.date_added|timesince}} ago</p>
            </div>
        </div>

    </div>
    {% endfor %}

</div>

{% endblock content %}