{% extends "web/base.html" %} {% block main_title %} Jobs {% endblock main_title %} {% block content %}
<div class="container">
    <div style="margin-top: 10px;">
        <p class="is-1 title" style="margin-bottom: 1em;">
            Job Opportunities
        </p>
        <a href="{% url 'web:create_job_post' %}" class="button is-primary">Post a Job Opportunity</a>
        <form action="{% url 'web:jobs' %}" method="GET">
            <div class="level" style="margin-top: 10px;">
                <div class="level-left">
                    <div class="level-item">
                        <strong>Filter</strong>
                    </div>
                    <div class="level-item">
                        <div class="control">
                            <div class="select">
                                <select name="profession" id="">
                                    <option value="all">All Professions</option>
                                    {% for prof in professions %}
                                    <option value="{{prof}}" {% if prof == profession %}selected{% endif %}>{{prof}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="control">
                            <div class="select">
                                <select name="qualification" id="">
                                    <option value="all">All Qualifications</option>
                                    <option value="accounting">BSc Information Technology</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="f" value="1">
                    <div class="level-item">
                        <button class="button is-info">Apply Filter</button>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div class="columns is-multiline is-mobile">
        {% for job in jobs %}
        <div class="column is-one-half">
            <div class="box" style="margin-top: 10px;">
                <h5 class="is-5 title">{{ job.post_title }}</h5>
                <p style="font-size: 10pt; margin-bottom: 5px;" class="has-text-info">
                    <span class="icon">
                        <i class="fas fa-building"></i>
                    </span>{{ job.company }} &bull; {{ job.location }}</p>
                <p>{{ job.short_description }}</p>
                <br>
                <p class="is-6 title">Deadline: {{job.deadline}}</p>
                <div class="columns">
                    <div class="column">
                        <a class="button is-small" href="{% url 'web:job_detail' job.id %}">Details &amp; How to Apply</a>
                    </div>
                    <div class="column">
                        <p class="has-text-grey-light" style="font-size: 10pt;">Posted by {{job.posted_by}} {{job.date_added|timesince}} ago</p>
                    </div>
                </div>

            </div>
        </div>

        {% endfor %}
    </div>

</div>

{% endblock content %}