{% extends "web/base.html" %} {% block main_title %} Log in {% endblock main_title %} {% block content %}
<div class="container">
    <div class="columns">
        <div class="column">

        </div>
        <div class="column container">
            <p class="is-1 title">Log in</p>
            <p>Please log in with your email and password</p>
            <form action="{% url 'web:login'  %}?next={{next}}" method="POST">
                {% if error %}
                <p class="is-danger help">{{error}}</p>
                {% else %}
                {% endif %}
                <div class="field">
                    <label for="email" class="label">Email</label>
                    <input type="text" name="email" placeholder="Email address" class="input">
                </div>
                <div class="field">
                    <label for="password" class="label">Password</label>
                    <input type="password" name="password" placeholder="Password" class="input">
                </div>
                {% csrf_token %}
                <button class="button is-primary" type="submit">Log in</button><a href="{% url 'web:register' %}" style="margin-left: 100px;">Don't have an account? Register </a>
                </form>

                <a href=""><br>Forgot Password? Click here</a>
        </div>
    </div>

</div>
{% endblock content %}