{% extends "web/base.html" %} {% block content %}
{% load static %}
<div class="hero">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-fluid">
                <img src="{% static 'web/images/band.jpg' %}"  alt="">
            </div>

            <div class="column container is-fluid">
                <h3 class="title">Complete Registration</h3>
                <form action={% url 'web:register' %} method="post">

                    {% if error %}
                    <p class="is-danger help">{{error}}</p>
                    {% endif %}
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label for="name" class="label">First Name</label>
                                <input class="input" name="first_name" type="text" value="{{ first_name }}">
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label for="name" class="label">Last Name</label>
                                <input class="input" name="last_name" type="text" value="{{ last_name }}">
                            </div>
                        </div>
                    </div>

                    <div class="field"><label for="nickname" class="label">Nickname</label><input value="{{nickname}}" name="nickname" class="input" type="text" placeholder="Optional"></div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="email" value="{{ email }}" name="email" placeholder="Email input" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                        {% comment %}
                        <p class="help is-danger">This email is invalid</p> {% endcomment %}
                    </div>

                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="label">Year of Completion</label>
                                <div class="control">
                                    <div class="select">
                                        <select name="year_of_completion">
                                            <option value="1990">1990</option>
                                            <option value="1991">1991</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label class="label">House</label>
                                <div class="control">
                                    <div class="select">
                                        <select name="house">
                                            {% for h in houses %}
                                            <option {% if h == house %} selected {% endif %}>{{h}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control">
                        {% for et in exam_types %}
                        <label class="radio">
                            <input type="radio" value="{{et}}" name="exam_type" {% if et == exam_type %}checked{% endif %}> {{et}}
                        </label>
                        {% endfor %}
                    </div>
                    <br>
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="label">Chapter Affiliation</label>
                                <div class="control">
                                    <div class="select">
                                        <select name="chapter">
                                            {% for ch in chapters %}
                                            <option value="{{ch}}" {% if ch == chapter %}selected{% endif%}>{{ch}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label class="label">Profession</label>
                                <div class="control">
                                    <div class="select">
                                        <select name="profession">
                                            <option value="Financial Accountant">Financial Accountant</option>
                                            <option value="Civil Engineer">Civil Engineer</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% csrf_token %}

                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label for="name" class="label">Phone Number 1</label>
                                <input class="input" name="phone_1" type="tel" value="{% if phone_1 %}{{phone_1}}{% endif %}">
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label for="name" class="label">Phone Number 2 (Optional)</label>
                                <input class="input" name="phone_2" type="tel" value="{% if phone_2 %}{{phone_2}}{% endif %}">
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Address</label>
                        <input type="text" name="addr_line_1" class="input" placeholder="Address line 1" value="{% if address_line_1 %}{{address_line_1}}{% endif %}">
                        <input type="text" name="addr_line_2" class="input" placeholder="Address line 2" value="{% if address_line_2 %}{{address_line_2}}{% endif %}">
                    </div>

                    <div class="field">
                        <label class="label" for="whatsapp">Whatsapp</label>
                        <input class="input" id="whatsapp" type="text" placeholder="Optional" name="whatsapp">
                    </div>

                    <div class="field">
                        <label class="label" for="facebook">Facebook username</label>
                        <input class="input" id="facebook" type="text" placeholder="(Optional) Eg. kofi.duodu" name="facebook">
                    </div>

                    <div class="field">
                        <label class="label" for="twitter">Twitter</label>
                        <input class="input" id="twitter" type="text" placeholder="Optional" name="twitter">
                    </div>

                    <div class="field">
                        <label class="label" for="instagram">Instagram</label>
                        <input class="input" id="instagram" type="text" placeholder="Optional" name="instagram">
                    </div>

                    <div class="columns">
                        <div class="column">
                            <label for="" class="label">Reference 1</label>
                            <input class="input" name="ref_1_n" type="text" placeholder="Full name" value="{{ref_1_name}}">
                            <input class="input" name="ref_1_y" type="text" placeholder="Year of completion" value="{{ref_1_y}}">
                            <input class="input" name="ref_1_h" type="text" placeholder="House" value="{{ref_1_h}}">
                            <input class="input" name="ref_1_p" type="tel" placeholder="Phone" value="{{ref_1_p}}">
                        </div>
                        <div class="column">
                            <label for="" class="label">Reference 2</label>
                            <input class="input" name="ref_2_n" type="text" placeholder="Full name" value="{{ref_2_name}}">
                            <input class="input" name="ref_2_y" type="text" placeholder="Year of completion" value="{{ref_2_y}}">
                            <input class="input" name="ref_2_h" type="text" placeholder="House" value="{{ref_2_h}}">
                            <input class="input" name="ref_2_p" type="text" placeholder="Phone" value="{{ref_2_p}}">
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label for="password" class="label">Password</label>
                                <input class="input" type="password" name="password" placeholder="Set a password">
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label for="password2" class="label">Confirm Password</label>
                                <input class="input" type="password" name="password2" placeholder="Set a password">
                            </div>
                        </div>
                    </div>
                    

                    <br>
                    <button class="button is-primary">Submit Registration</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block main_title %} Register {% endblock main_title %}