{% extends "web/base.html" %}
{% block main_title %}
Job
{% endblock main_title %}

{% block content %}
    <div class="container" style="margin-top: 3em;">
        <div class="columns">
            <div class="column">
                    <p class="is-3 title">{{scholarship.title}}</p>
                    <p>{{scholarship.school}} &bull;</p>
            
                    <p class="is-5 title" style="margin-top: 2em;">Details</p>
                    <p>{{scholarship.description}}</p>
            
                    <p class="is-5 title" style="margin-top: 2em;">How to apply</p>
                    <p>{{scholarship.how_to_apply}}</p>
            
                    <p style="margin-top: 3em;"></p>
            </div>

            <div class="column is-one-third">
                <div class="box">
                    <p class="title is-5">Similar Scholarship Opportunities</p>
                    <p>This section will contain a list of related Opportunities</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}