{% extends "web/base.html" %}
{% block main_title %}
Job
{% endblock main_title %}

{% block content %}
    <div class="container centered-div" style="margin-top: 3em;">
        <p class="is-3 title">{{scholarship.title}}</p>
        <p>{{scholarship.school}} &bull;</p>

        <p class="is-5 title" style="margin-top: 2em;">Details</p>
        <p>{{scholarship.description}}</p>

        <p class="is-5 title" style="margin-top: 2em;">How to apply</p>
        <p>{{scholarship.how_to_apply}}</p>

        <p style="margin-top: 3em;"></p>
    </div>
{% endblock content %}