{% extends "web/base.html" %} {% block main_title %} Scholarships {% endblock main_title %} {% block content %}
<div class="container centered-div">
    <div style="margin-top: 10px;">
        <p class="is-1 title" style="margin-bottom: 1em;">
            Scholarship
            <br>Opportunities
        </p>
        <a href="{% url 'web:create_scholarship_post' %}" class="button is-primary">Create a Scholarship Opportunity</a>

        <form action="" method="GET">
            <div class="level" style="margin-top: 10px;">
                <div class="level-left">
                    <div class="level-item">
                        <strong>Filter</strong>
                    </div>
                    <div class="level-item">
                        <div class="control">
                            <div class="select">
                                <select name="profession" id="">
                                    <option value="all">All Programmes</option>
                                    <option value="accounting">Accounting</option>
                                    <option value="it">Information Technology</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="control">
                            <div class="select">
                                <select name="profession" id="">
                                    <option value="all">All Degrees</option>
                                    <option value="accounting">Bachelors</option>
                                    <option value="bachelors">Masters</option>
                                    <option value="phd">PhD</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="level-item">
                        <button class="button is-info">Apply Filter</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {% for scholarship in scholarships %}
    <div class="box" style="margin-top: 10px;">
        <h5 class="is-5 title">{{ scholarship.title }}</h5>
        <p style="font-size: 10pt; margin-bottom: 5px;" class="has-text-info">
            <span class="icon">
                <i class="fas fa-building"></i>
            </span>{{ scholarship.school }}</p>
        <p>{{ scholarship.description|truncatechars:250 }}</p>
        <br>
        <div class="columns">
            <div class="column">
                <a class="button is-small" href="{% url 'web:scholarship_detail' scholarship.id %}">More &amp; How to Apply</a>
            </div>
            <div class="column">
                <p class="has-text-grey-light" style="font-size: 10pt;">Posted by {{scholarship.posted_by}}</p>
            </div>
        </div>

    </div>
    {% endfor %}

</div>
{% endblock content %}